
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code SDK - Example/6-minimal-with-login</title>
</head>

<body>
  <h1>Payment Intent</h1>
  <div>Intent Id: <%= intent %></div>
  <div>Status: <pre><%= JSON.stringify(status, null, 2) %></pre></div>
</body>

</html>