<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code SDK - Example/1-minimal</title>
</head>

<body>
    <div id="button-container"></div>

    <script type="module">
        import code from 'https://js.getcode.com/v1';

        const { button } = code.elements.create('button', {
            currency: 'usd',
            amount: 0.05, // The minimum amount is $0.05 USD or equivalent in other currencies
            destination: 'E8otxw1CVX9bfyddKu3ZB3BVLa4VVF9J7CTPdnUwT9jR',
        });

        button.on('success', () => {
            alert('Thank you!');
        });

        button.mount('#button-container');
    </script>
</body>

</html>