<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code SDK - Example</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white">

  <div class="flex h-screen">
    <div class="m-auto">

      <%- body %>

    </div>
  </div>
</body>

</html>